{% extends 'base.html' %}
{% block content %}
	<h1>About Us and our current client</h1>
	<p>The Plano County requires an online book checkout website as they have rapidly increasing demand.
		This website is that</p>
	<p>GPPP, short for Goutham Pedinedi Python Programs, is the business behind this website. Our company is focused
	<br> on rapid development of programs in Python. We use frameworks such as Django and Flask to develop websites <br>
	For this website, we used the Django framework.</p>
{% endblock %}
